In [120]:
import os
import numpy as np
import pandas as pd
import torch
import os
import json
import pandas as pd
from PIL import Image
from matplotlib.pyplot import imshow
import matplotlib.pyplot as plt
import cv2
import numpy as np
%matplotlib inline
from tqdm import tqdm
import glob
import pickle

In [137]:
!ls sub -lh

total 0

In [139]:
!ls *.csv -lh

-rw-rw-r-- 1 core core 9.1K Jun 26 07:49 challenge-2019-classes-description-500.csv
-rw-rw-r-- 1 core core 951M Jun 26 07:48 challenge-2019-train-detection-bbox.csv
-rw-rw-r-- 1 core core 230M Jun 26 07:47 challenge-2019-train-detection-human-imagelabels.csv
-rw-rw-r-- 1 core core  15M Jun 26 07:49 challenge-2019-validation-detection-bbox.csv
-rw-rw-r-- 1 core core 5.3M Jun 26 07:49 challenge-2019-validation-detection-human-imagelabels.csv
-rw-rw-r-- 1 core core 7.7M May 29 15:26 sample_submission.csv
-rw-rw-r-- 1 core core 568M Jul  9 06:21 sub_101_0-50_100boxes_0709_1.csv
-rw-rw-r-- 1 core core 566M Jul  9 06:02 sub_101_50-100_100boxes_0709_2.csv
-rw-rw-r-- 1 core core 672M Jul 17 05:52 sub_cas_100_500_150boxes_0717_1.csv
-rw-rw-r-- 1 core core 727M Jul 17 18:15 sub_cas_100_500_150boxes_0718_1.csv
-rw-rw-r-- 1 core core 656M Jul 18 16:31 sub_cas_100_500_150boxes_0718_2.csv
-rw-rw-r-- 1 core core 7.1K Jul  4 05:15 top_classes.csv

In [140]:
csv_files = ['sub_cas_100_500_150boxes_0718_2.csv', 'sub_101_50-100_100boxes_0709_2.csv',
             'sub_101_0-50_100boxes_0709_1.csv', 
             #'sub_101_400-500_100boxes_0711_1.csv'
            ]

dfs = [pd.read_csv(x) for x in csv_files]

In [141]:
dfs[0].head()

            ImageId                                   PredictionString
0  b5d912e06f74e948  /m/01n4qj 0.3473800 0.5464720 0.2983522 0.6370...
1  be137cf6bb0b62d5  /m/01n4qj 0.0087641 0.0002692 0.4137036 0.8279...
2  8d65ca08cb5ce8e8  /m/014y4n 0.0012935 0.5531290 0.1551592 0.9886...
3  4d3ad1e52ad8c065  /m/01n4qj 0.0024013 0.3502574 0.0071969 0.6867...
4  9b94408691c7d7bf  /m/0dv5r 0.0049088 0.0482568 0.0581553 0.63156...

In [142]:
x = None
for d in dfs:
    if x is None:
        x = d.PredictionString
    else:
        x = x.str.cat(d.PredictionString, sep=' ')

In [143]:
dfs[0].PredictionString = x
print(len(dfs[0].iloc[0].PredictionString), len(dfs[1].iloc[0].PredictionString))

20948 5996

In [144]:
dfs[0].head()

            ImageId                                   PredictionString
0  b5d912e06f74e948  /m/01n4qj 0.3473800 0.5464720 0.2983522 0.6370...
1  be137cf6bb0b62d5  /m/01n4qj 0.0087641 0.0002692 0.4137036 0.8279...
2  8d65ca08cb5ce8e8  /m/014y4n 0.0012935 0.5531290 0.1551592 0.9886...
3  4d3ad1e52ad8c065  /m/01n4qj 0.0024013 0.3502574 0.0071969 0.6867...
4  9b94408691c7d7bf  /m/0dv5r 0.0049088 0.0482568 0.0581553 0.63156...

In [145]:
dfs[0].to_csv('merge_0718_2.csv.zip', index=False, compression='zip')

In [ ]:
!ls

In [100]:
#####
lst = ['Geeks', 'For', 'Geeks', 'is',  
            'portal', 'for', 'Geeks'] 
tmp1 = pd.DataFrame(lst, columns=['t'])
lst2 = ['a', 'b', 'c', 'd',  
            'e', 'f', 'g'] 
tmp2 = pd.DataFrame(lst2, columns=['t'])

lst3 = ['a1', 'b1', 'c', 'd',  
            'e', 'f', 'g'] 
tmp3 = pd.DataFrame(lst3, columns=['t'])
tmp3.head()

    t
0  a1
1  b1
2   c
3   d
4   e

In [102]:
dfs = [tmp1, tmp2, tmp3]
x = None
for d in dfs:
    if x is None:
        x = d.t
    else:
        x = x.str.cat(d.t, sep=' ')

#x = tmp1.t1.str.cat(tmp2.t2, sep=' ').str.cat(tmp3.t3, sep=' ')
print(x)
tmp1.t = x
tmp1.head()

0    Geeks a a1
1      For b b1
2     Geeks c c
3        is d d
4    portal e e
5       for f f
6     Geeks g g
Name: t, dtype: object

            t
0  Geeks a a1
1    For b b1
2   Geeks c c
3      is d d
4  portal e e